<h1>Welcome#index</h1>
<% @photos.each do |photo| %>
    <p>
        <img src=<%= "http://farm#{photo.farm}.static.flickr.com/#{photo.server}/#{photo.id}_#{photo.secret}_m.jpg" %>>
    </p>
<% end %>
