<div class="action center">
    <% if current_user.favoriting? photo %>
        <%= render 'photos/unfavorite' , photo: photo %>
    <% else %>
        <%= render 'photos/favorite' , photo: photo %>
    <% end %>
</div>